html,
body {
  height: 100%;
  margin: 0;
  background: #0d1117;
  font-family: 'Inter', sans-serif;
}

:root {
  --bg-base: #0d1117;
  --bg-panel: #131b24;
  --border-panel: #1f2a38;
  --shadow-panel: 0 0 4px rgba(0,0,0,.4);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}